iframe {
  border: none;
}
/* NOT NECESSARY BECAUSE IT WILL JUST STRETCH THE NAVBAR AND IT'S UGLY
.navbar>.container, .navbar>.container-fluid{
  width: 100%;
  padding: 1%;
  background-color: white;
}
*/
.sidenav {
  height:100%;
  width:0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
}

.sidenav a {
  padding: 15px 8px 8px 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #blue;
}

.sidenav-cart {
  height:100%;
  width:0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: auto;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav-cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav-cart a:hover {
  color: #blue;
}

@media screen and (max-width: 767px){

}
