table {
    margin-top: 30px;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 10px;
}

table tbody tr th{
  font-weight: normal;
}

.nav{
  margin-top: 40px;
}
