.nav{
  margin-top: 40px;
}

.form-group{
  margin-top: 15px;
}

.tab-content>.active {
  margin-top: 15px;
}

.table{
  margin-top: 30px;
}


table {
    margin-top: 30px;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 10px;
}

table tbody tr th{
  font-weight: normal;
}
