body{
  padding-top: 70px;
}

.navbar-brand{
  height: 70px;
  line-height: 45px;
}

.carousel-item{
  background-size: cover;
  background-position: center;
  height: 500px;
}

.container{
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: georgia;
  font-weight: lighter;
}

.container > h4{
  font-weight: bold;
  font-size: 32px;
  color: black;
}

.trust-icons{
  padding: 25px 0px;
}

.order-now-button{
  padding-bottom: 15px;
}

.container-fluid > h3{
  padding-left: 150px;
}

.col-sm-4 > h5{
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}
